<div class="icon-bar two-up submenu" role="navigation">
	<%= link_to search_user_path, class: "item", "aria-labelledby" => "#newchat" do %>
		<label id="newchat"><i class="fi-plus"></i></label>
	<% end %>">
</div>
